body {
  margin: 0;
  padding: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #00000030;
  height: 100vh;
  width: 100vw;
}
.link {
  width: 51%;
  display: block;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05;
  color: #000000;
  text-align: center;
}
.link:hover,
.link:focus {
  color: #199c68;
}
.logo {
  display: block;
  width: 51%;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: #199c68;
  animation: rotate 2000ms linear infinite;
}
